.summary {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100px;
  height: 30px;
  top: 500px;
  margin-bottom: 20px;
  color: red;
  border: 2px black solid;
  border-radius: 10px;
  cursor: pointer;
}
